@font-face {
  src: url("../../vendor/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk-Bold";
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk-Bold";
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  position: relative;
  background-color: #fff;
  padding: 28px 28px 26px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  background-image: url(../../assets/close-button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__label {
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0);
  padding: 0;
  padding-top: 8px;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding-bottom: 24px;
}

.modal__legend {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 14px;
}

.modal__label-radio {
  color: #00000080;
}

.modal__label-radio .modal__radio-inputs {
  margin-right: 11px;
}

.modal__label-radio_checked {
  color: #000;
}

.modal__radio-inputs_checked {
  background-color: #000;
  margin-right: 11px;
}

.modal__submit {
  background-color: #0000004d;
  color: white;
  border-radius: 4px;
  border: none;
  width: 124px;
  height: 36px;
  transition: opacity 0.3s ease;
}

.modal__submit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.modal__submit_disabled {
  background-color: #0000004d;
}

.modal__submit_disabled:hover {
  background-color: #0000004d;
  cursor: default;
}

input[type="radio"]:checked + .modal__label-radio {
  background-color: #000;
  color: #000;
}
