@font-face {
  src: url("../../vendor/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk-Bold";
}

.card {
  display: flex;
  justify-content: center;
  max-width: 323px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card__name {
  font-family: "Cabinet Grotesk-Bold";
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  position: absolute;
  top: 15px;
  background-color: #fff;
  border-radius: 4px;
  width: 73px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.card__img {
  width: 325px;
  height: 325px;
}
