@font-face {
  src: url("../../vendor/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk-Bold";
}

.cards {
  display: block;
  background-color: #f3f3f3;
}

.cards__text {
  font-family: Cabinet Grotesk-Bold;
  font-size: 20px;
  line-height: 24.8px;
  text-align: left;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}
